@font-face {
    font-family: 'lora';
    src: url('fonts/Lora-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'narrow';
    src: url('fonts/ArchivoNarrow-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'mulish';
    src: url('fonts/Mulish-VariableFont_wght.ttf');

}

@font-face {
    font-family: 'popins';
    src: url(fonts/Poppins-Regular.ttf);
}

/*cabeçalho*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dde4e2;

}

a {
    font-family: 'mulish';
    text-decoration: none;
}

.header {
    height: 70px;
    background: #2e8a70;
    padding-inline: 0px;
    box-shadow: 0 5px 10px #21502f;
    border-radius: 0 0 10px 10px;
    position: relative;
    transition: 1s ease-in-out;
}



.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s ease-in-out;
}

.perfil {
    margin-right: 10px;
}

header nav .logo img {
    width: 188px;
}

.logo2 a img {
    display: none;
}

.nav-list {
    align-items: center;
    display: flex;
    gap: 18px;
    list-style: none;
    transition: 1s ease-in-out;
}

.nav-list li {
    display: flex;
    margin: 5px;
    list-style: none;
    height: 50px;
    transition: 0.5s ease-in-out;
}

.nav-list a {
    position: relative;
    display: flex;
    font-size: 19px;
    color: #fff;
    padding-block: 20px;
    border-radius: 50px;
    transition: .5s ease-in;
    font-weight: 700;

}



.nav-list {
    display: flex;
    align-items: center;
}





.nav-list li:hover {
    align-items: center;
}

.nav-list a:hover {
    align-items: center;
    display: flex;
    padding: 5px 5px;
    background: linear-gradient(90deg, #a6d785, #f3c77e);
    border-radius: 8px;
    color: #011a1f;
    font-weight: 700;
    height: 50px;
}


.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;

}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 768px) {

    header .nav {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    header nav .logo img {
        width: 110px;
    }

    .logo2 a img {
        display: none;
    }

    .perfil a img {
        width: 46px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 3vw;
        padding: 0;
        top: 1vh;

    }

    .hamburger {
        position: absolute;
        display: block;
        z-index: 1;
        justify-content: end;
        right: 20vw;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #011a1f;
        clip-path: circle(100px at 99% -25%);
        transition: .8s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;

        pointer-events: none;
    }


    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 2;

    }

    .nav.active .nav-list {
        z-index: 100;

    }

    .nav.active .perfil {
        display: none;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: #011a1f;
        z-index: 101;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        border: radius 8px;
        ;
    }
}

@media (max-width: 480px) {

    .header {
        box-shadow: 0 0 0 0;
    }

    header nav .logo img {
        margin-right: 0;
        width: 90px;
    }

    header nav .logo {
        display: flex;
        position: absolute;
        left: 0px;
        margin: 0;

    }

    .perfil a img {
        display: none;

    }
}

.logo a img {
    width: 1px;
}




/*o footer abaixo*/

@media screen and (min-width:1200px) {

    .nav .logo a img {
        width: 160px;
    }

    .nav-list {
        gap: 40px;
    }

    .nav-list li a {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .herop {
        margin-top: 10px;
        padding-top: 0;
        height: 80%;

    }

    .herop .texto-hero {

        font-size: x-large;
    }

    .herop .texto-hero #p3-hp {
        top: 0;
        font-size: x-large;
    }

    .herop .texto-hero #p2-hp {
        padding-bottom: 5%;
        font-size:
            48px;
    }

    .bts-principal {
        position: relative;
        display: flex;
        left: 20%;
        top: -40%;

    }



    .img-hp #img-heropage1 {
        top: 0;
        width: 70%;
    }

    .img-hp #img-heropage2 {

        width: 50%;
    }

    .img-hp #img-heropage3 {

        width: 60%;
    }

    .amostra-serv {
        margin-top: 5%;
        background-color: #1d3127;
        border-radius: 10%;
        box-shadow: 15px 15px 8px #2c2b2b;
    }

    .amostra-serv #tit {
        font-size: 30px;
        margin-top: 50px;
        color: #f5f4f4;
    }

    .amostra-serv #tit span {
        font-family: popins;
        color: #fff;
        font-size: 50px;
    }

    .texto-amos ol {
        color: #fff;
        font-size: larger;
    }

    .cards-setores {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        top: 10%;
        height: 600px;
        margin-top: 10%;
        background-color: #f6d7a7;
        border-radius: 10%;
        box-shadow: 15px 15px 8px #939191;

    }

    .cards-setores #titulo-cards {
        font-family: popins;
        font-size: 40px;
        display: flex;
        justify-content: center;
        grid-column: 1/-1;
        height: 10px;
        position: relative;
        top: 30%;
    }

    #txt-card {
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 700;

    }



    .amostra-serv #tit {

        position: relative;
        left: 43%;
    }

    #btn-acoes {
        background-color: #015b25;
    }

    #btn-acoes a {
        font-size: 18px;
        font-weight: 700;

    }

    .conteudo-curso {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50px;
        margin-bottom: 100px;
        height: 300px;
        gap: 50px;
        border: 10px solid #0ea35e;
        background-image: url(img-fundo/fundo-chamacurso.jpeg);
        background-position: center center;
        background-size: contain;
    }

    .conteudo-curso p {
        background-color: #b4f886;
        margin-top: 30px;
        border-radius: 0;
        width: 100%;
    }

    #btn-set-curso {

        height: 50px;
        width: 150px;
    }

    #btn-set-curso a {
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 1px;
    }


    .prova-social {
        display: flex;
        flex-direction: row;
        gap: 20%;
        width: 90%;
        background-color: #011a1f;
        border-radius: 10px;

    }

    .tab-prova-sc tbody {
        width: 350px;
    }


    .conteiner-prova:first-child {
        display: flex;
    }

    td #coment-pf {
        font-size: 18px;
    }


    .faq-question {
        display: grid;
        grid-template-columns: 40% 40%;
    }

    .faq-question div {
        height: 50px;
    }

    .faq-question div:hover {
        height: 20vw;
        transition: .5s;
    }

    div .abrir-resposta {
        height: auto;
    }

    #a-da {
        font-size: 4vw;
    }

    #resposta {
        position: relative;
        margin-top: 30px;
    }

}

/* acima a responsividade da heropage ^ */


@media screen and (min-width:300px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .perfil {
        display: none;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px;
        width: auto;
        margin-left: 5%;
        border-radius: 15px;
    }

    .container-pf {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        border-radius: 20px;
        max-width: 800px;
        align-items: center;
        justify-content: center;
    }

    .col-um {
        margin-top: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .imge img {
        border-radius: 100%;
        border: 4px solid #0ea35e;
    }

    .col-um .info-pf {
        width: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;

    }

    .col-um .info-pf .linha {
        background-color: #000000;
        margin-bottom: 3px;
        width: 90%;
        height: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }

    .linha.um {
        padding: 0 10px 0 10px;
        font-family: popins;
        font-weight: 800;
        font-size: 18px;
    }

    .linha.do {
        font-family: mulish;
        font-weight: 400;
        font-size: 17px;
    }

    .linha.tr span {
        color: #f3c77e;
    }

    .col-dois {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        gap: 20px;

    }

    .texto-ln-u {
        border-radius: 10px;
        font-family: mulish;
        width: 90%;
        text-align: center;
        color: #000000;
        font-weight: 500;
    }

    .menu {
        list-style: none;
        border: 1px solid #c0c0c0;
        float: left;
        border-radius: 5px;
    }

    .menu li {
        position: relative;
        float: left;
        font-family: popins;
        font-weight: 800;
        background-color: #fff;
    }




    .menu li a {
        color: #333;
        text-decoration: none;
        padding: 5px 10px;
        display: block;
        border-bottom: 3px solid green;
        border-radius: 5px;
    }

    .menu li a:hover {
        background: #f3c77e;
        color: #000000;
    }

    .menu li ul {
        position: absolute;
        top: 25px;
        left: 0;
        background-color: #fff;
        display: none;

    }


    .menu li:hover ul,
    .menu li.over ul {
        display: block;

    }

    .menu li ul li {

        display: block;
        width: 150px;
        margin-bottom: 5px;
    }

    .imagens-pf {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagens-pf h1 {
        font-family: narrow;

    }

    .grade-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        background-color: #69bb64;
        padding: 10px;
        border-radius: 5px;

    }

    .grade-img img {
        object-fit: cover;
        height: 80px;
        width: 80px;
        border-radius: 10px;
    }


    #botão-avaliar{
        color: wheat;
        border-bottom: 2px solid ;
        
    }

    #botão-avaliar:hover{
        color: #000000;
    }

}

@media screen and (min-width:480px) {

    .container-pf {
        gap: 0;
        align-items: center;
        justify-content: center;
        align-self: center;

    }

    .col-um {
        align-items: center;
        justify-content: end;
        width: 100%;
    }

    .imge img {
        width: 128px;
    }

    .col-um .info-pf {
        align-items: center;
        width: 300px;

    }

    .linha {

        color: #ffffff;
    }

}

@media screen and (min-width:768px) {
.perfil{
    display: flex;
}

    .container-pf {
        display: flex;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        height: 500px;
        background-color: #015b25;
        align-items: center;
        justify-content: center;
    }




    .texto-ln-u {
        border-radius: 10px;
        font-family: mulish;
        width: 90%;
        height: 100px;
        text-align: center;
        font-size: 20px;
        display: flex;
        align-items: center;
        font-weight: 800;
        color: #ffffff;
        font-weight: 500;
    }


    .grade-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

    }

    .grade-img img {
        object-fit: cover;
        height: 128px;
        width: 128px;
        border-radius: 10px;
    }

}




















/*agora o footer*/

.container {
    max-width: 1270px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    list-style: none;
}

/**/

.footer-logo #copy {
    color: #bbbbbb;
    font-size: 2vh;
    position: absolute;
    display: block;
    align-items: center;
    bottom: 0;
    margin: 0 7px;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #011a1f;
    padding: 0;
    line-height: 1.5;
    transition: 1s;
    justify-content: space-between;
    font-family: 'mulish';
    position: relative;
}

.footer-logo {
    position: relative;
    display: flex;
    left: 0;
    align-items: center;
    border-right: 5px solid #f3c77e;
    padding: 10px;
    width: auto;
}

.footer-col {
    width: auto;
    padding: 50px 50px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 800;
    position: relative;
}

/**/
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #f3c77e;
    height: 8%;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul {
    width: 150px;
}

.footer-col ul li {
    width: 150px;
}

/**/
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a span {
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: flex;
    transition: all .5s ease;
}

/**/
.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all .5s ease;
}

/**/
.footer-col ul li a span:hover {
    color: #000000;
    padding-left: 8px;
    background: linear-gradient(90deg, #a6d785, #f3c77e);
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'mulish';


}

/**/
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #a6d785;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.7s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
/*tamanho tablet/laptop itens ficam em colunas*/
@media(max-width: 768px) {
    .footer-col {
        width: auto;
        margin-bottom: 30px;
        padding-right: 50px;


    }

    .footer-col ul {
        width: 174px;
    }



    .footer-logo {
        border-bottom: 5px solid #f3c77e;
        margin: 0;
        padding-left: 0;

    }

}

@media (max-width: 510px) {

    .footer .container .row {
        display: flex;
        justify-content: center;
    }

    .footer-logo {
        border: 5px solid #f3c77e;
        width: 322px;
        display: block;
        height: 70px;
    }

    .footer-logo #copy {
        padding: 1px;
    }

    .footer-logo .logo img {
        width: 90px;
    }

    .footer-col {
        padding: 10px;
    }
}

/*tamanho-mobile, os itens ficam na horizontal*/

@media(max-width: 440px) {
    .footer-col {
        width: 100%;


    }

    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        top: 0;
        border-bottom: 5px solid #f3c77e;
        padding: 20px 15px;

    }

    .footer-logo #copy {

        font-size: 10px;

    }

    .footer-col ul li a span {
        width: 100%;
    }

    /* animação de fundo de quando o mouse passa por cima*/
    .footer-col ul li a span:hover {
        color: #000000;
        padding-left: 8px;
        background: linear-gradient(90deg, #a6d785, #f3c77e);
        width: 150px;
        border-radius: 10px;
        font-weight: bold;
        font-family: 'mulish';


    }

}